/* Computer Size */
@media(min-width:60rem){
    .navbar{
        display: flex;
        gap: 1rem;
    }

    .mobile-navbar{
        display: none;
    }

        .container{
        display: flex;
    }

    .column{
        width: 17.5%;
    }
}