@media(min-width:60rem){
    .sidebar{
        padding: 1rem;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        width: 10rem;
        border-right: 0.1rem solid lightpink;
        min-height: 90svh;
    }

    .sidebar-section h2{
        font-size: 1.1rem;
    }

    .sidebar-section{
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }
    .sidebar-section p{
        padding: 0.2rem 0rem;
        font-weight: 700;
    }

    .sidebar-section :first-child{
        font-weight: 600;
    }
}